
<!doctype html>

<html lang="es">

<head>

    <meta charset=»utf-8»>

    <title>Agregar Prestamos o Acreedores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    
    
   
    

</head>

    <body>
        
        {% extends 'base_main_2.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
          
          {% block script %}
            <script>
              {% if agregado1 == 'existo' %}
               // Función que muestra la ventana de mensaje al cargar la página
                window.onload = function() {
                alert("{{Mensaje}}");
                };
              {% endif %}
            </script>
          {% endblock %}
        

        {% block content %}
        
        <div class="main-container d-flex">
            <!--  {% include 'categoria_2.html' %}  --> 
            {% include 'categoria_2.html' %}
            <div class="row justify-content-center">

              <div class="col-md-8 mt-5 border rounded p-4 shadow">
                   {% if agregado == 'existo' %}
                   <h4 class="text-danger">  {{Mensaje}}  </h4>
                   {% endif %}
                  <div class="bd-example m-0 border-0">
                      <form class="row g-3 needs-validation" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        

                          <div class="col-md-12">
                            <div class="form-check">
                                <span><strong>Agregue un (1) solo Colaborador</strong></span>
                                <div class="table-responsive mt-4 shadow">
                                    <table  id="miTabla" class="table table-bordered table-striped table-hover text-center display">
                                        <thead>
                                            <tr>
                                                <th class="table-dark ">#</th>
                                                <th class="table-dark">Nombre</th>
                                                <th class="table-dark">Apellido</th>
                                                <th class="table-dark">Cargo</th>
                                                <th class="table-dark">Departamento</th>
                                                <th class="table-dark">Supervisor</th>
                                                <th class="table-dark">Sueldo</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for clientes in lista_cliente %}
                                                <tr>
                                                    <td> 
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="colaborador" value="{{ clientes.0 }}" id="flexCheckDefault" required>
                                                            
                                                          </div>
                                                              
                                                    </td>
                                                    <td><img src="{{ MEDIA_URL }}{{  clientes.7 }}" alt="mdo" width="40" height="40" class="rounded-circle mb-2">  {{ clientes.1 }}</td>
                                                    <td>{{ clientes.2 }}</td>
                                                    <td>{{ clientes.3 }}</td>
                                                    <td>{{ clientes.4 }}</td>
                                                    <td>{{ clientes.5 }}</td>
                                                    <td>{{ clientes.6 }}</td>
                                              
                                                </tr>
                                            {% endfor %}
                                            
                                            <!-- Agrega más filas según sea necesario -->
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                              

                          </div>
                        
                          <div class="col-md-2">
                            <label for="validationCustom01" class="form-label"><strong>* Fecha Inicio 1er Cobro</strong>  </label>
                            <br><input type="date" name="dia_inicio" id="validationdate"  >
                            
                          </div>
                          <div class="form-check col-md-2">
                            <label for="flexCheckDefault" class="form-label"><strong>* Monto por cuota</strong>  </label>
                            <input class="form-check-input" type="radio" name="Mensual_o_Fijo_al_mes" value="Descontar mensual" id="flexCheckDefault">
                            
                          </div>
                          <div class="form-check col-md-2">
                            <label for="flexCheckDefault" class="form-label"><strong>* Monto Total</strong>  </label>
                            <input class="form-check-input" type="radio" name="Mensual_o_Fijo_al_mes" value="Monto Total" id="flexCheckDefault">
                            
                          </div>
                          <div class="col-md-2">
                            <label for="validationCustom04" class="form-label text-danger"><strong>* Nro. Cuotas Quincenales</strong></label>
                            <input type="number" class="form-control" id="validationCustom02" name="meses" placeholder="Ingresar cuanto tiempo durara descuento mensual. " required >
                          
                          </div>

                          <div class="col-md-4">
                            <label for="validationCustom04" class="form-label text-danger"><strong>* Dinero a descontar</strong></label>
                            <input type="number" step="0.01" class="form-control" id="validationCustom02" name="descuento" placeholder="Ingresar cantidad descontar total o mensual." required>
                          
                          </div>

                          <div class="col-md-3">
                            <label for="validationCustom04" class="form-label text-danger"><strong>* Acreedor</strong></label>
                            <select class="form-select" id="validationCustom04" name="Tipo_Permiso" required>
                              <option selected disabled value="">Elije un Tipo Acreedor</option>
                              <option value="Empresa">Prestamo Empresa (max 20% del sueldo) </option>
                              <option value="Hipotecario">Hipotecario ( max. 30% del sueldo)</option>
                              <option value="Otro">Otro (max 20% del sueldo)</option>
                             

                              
                              
                            </select>
                          
                          </div>

                          <div class="col-md-8">
                            <label for="validationCustom02" class="form-label"><strong>Nombre Acreedor</strong></label>
                            <input type="text" class="form-control" id="validationCustom02" name="acreedor_otros" placeholder="Escriba nombre especifico del Acreedor o deje vacio en caso ser la empresa donde trabaja. " >
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>

                          <div class="col-md-4">
                            <label for="validationCustom02" class="form-label"><strong>* Motivo del Descuento</strong></label>
                            <input type="text" class="form-control" id="validationCustom02" name="motivo" placeholder="Escriba detalle o motivo del prestamos o descuento. " required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>

                          <div class="col-md-5">
                            <label for="validationCustom02" class="form-label"><strong>Documento de Acreedores</strong></label>
                            <input type="file" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx" class="form-control" id="validationCustom02" name="archivo" placeholder="Adjute Documento para Incapacidad o Licencia . " onchange="validarTamanoArchivo(this)">
                            <span id="mensaje-error" style="color: red;"></span>
                            
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>

                          
                              
                          </div>
                        <br>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required >
                            <label class="form-check-label" for="invalidCheck">
                              * Datos Requeridos <br>Confirmo la información suministrada, Si ya existia un prestamos laboral previamente en el mismo colaborador se creara uno nuevo.
                            </label>
                            
                          </div>
                        </div>
                        <br>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Cargar Acreeditacion</button>
                        </div>
                      </form>
                  </div>

              </div>
          </div> 

    
            
            

        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                // Inicializar DataTables después de cargar los datos
                $('#miTabla').DataTable();
            });

            $(document).ready(function () {
                // Inicializar DataTables después de cargar los datos
                $('#miTabla_2').DataTable();
            });


            $("#navbarTogglerDemo03").on('show.bs.collapse', function() {
                $('a.nav-link').click(function() {
                    $("#navbarTogglerDemo03").collapse('hide');
                    });
                });

            $(".sidebar ul li").on('click' , function(){
                $(".sidebar ul li.active").removeClass('active');
                $(this).addClass('active');
            });
    
                $('.open-btn').on('click' , function(){
                $('.sidebar').addClass('active');
                
            });
    
            $('.close-btn').on('click' , function(){
                $('.sidebar').removeClass('active');
                
            });
    
        </script>
        <script>
          function validarTamanoArchivo(input) {
              var maxTamano = 10 * 1024 * 1024; // 10 MB en bytes
              var mensajeError = document.getElementById("mensaje-error");
  
              if (input.files.length > 0) {
                  var tamanoArchivo = input.files[0].size;
  
                  if (tamanoArchivo > maxTamano) {
                      mensajeError.innerHTML = "El archivo excede el tamaño máximo permitido (10 MB).";
                      input.value = ""; // Limpiar el campo de archivo
                  } else {
                      mensajeError.innerHTML = "";
                  }
              }
          }
      </script>
        
        {% endblock %}
    </body>

</html>