
<!doctype html>

<html lang="es">

<head>

    <meta charset=»utf-8»>

    <title>Agregar Departamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
   
    

</head>

    <body>
        
        {% extends 'base_main_2.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        {% block content %}
        
        <div class="main-container d-flex">
            <!--  {% include 'categoria_2.html' %}  --> 
            {% include 'categoria_2.html' %}
            <div class="row justify-content-center">

              <div class="col-md-8 mt-5 border rounded p-4 shadow">

                  <div class="bd-example m-0 border-0">
                      <form class="row g-3 needs-validation" method="post">
                        {% csrf_token %}
                        <div class="col-md-4">
                          <label for="validationCustom01" class="form-label"><strong>Nombre Departamento</strong>  </label>
                          <br><input type="text" class="form-control" name="departamento_nombre" id="validationdate" required placeholder="Ingrese nombre de Departamento" >
                          <div class="valid-feedback">
                            Looks good!    
                          </div>
                        </div>
                        <div class="col-md-8">
                          <label for="validationCustom02" class="form-label"><strong>Motivo Feriado ( No requerido )</strong></label>
                          <input type="text" class="form-control" id="validationCustom02" name="motivo" placeholder="Escriba el motivo del feriado" >
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" hidden>
                            <label class="form-check-label" for="invalidCheck">
                              Confirmo la información suministrada, la cual solo podrá ser modificada unicamente por el administrador o el Representante Legal de la Empresa.
                            </label>
                            <div class="invalid-feedback">
                              You must agree before submitting.
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Cargar Nuevo Departamento</button>
                        </div>
                      </form>
                  </div>

              </div>
          </div> 

    
            
            

        </div>

        <div class="container">
            
            <div class="table-responsive mt-4 shadow">
              
                <table id="miTabla" class="table table-bordered table-striped table-hover text-center display">
                  
                    <thead>
                        <tr>
                            <th class="table-dark">#</th>
                            <th class="table-dark">Departamento</th>
                            <th class="table-dark">Motivo</th>
                            <th class="table-dark">Borrar</th>
                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for clientes in lista_cliente %}
                        
                            <tr>
                                <td>{{ clientes.2 }}</td>
                                <td>{{ clientes.0 }}</td>
                                <td>{{ clientes.1 }}</td>
                                
                                <td>
                                  
                                  <form class="row g-3 needs-validation" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="borrar" value="{{ clientes.2 }}" hidden>
                                    <button class="btn btn-primary" type="submit"><i class="bi bi-trash3-fill"></i></button></a>
                                  </form>
                                </td>
                                
                              
                            </tr>
                        {% endfor %}
                        
                        <!-- Agrega más filas según sea necesario -->
                    </tbody>
                  
                </table>
                
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                // Inicializar DataTables después de cargar los datos
                $('#miTabla').DataTable();
            });


            $("#navbarTogglerDemo03").on('show.bs.collapse', function() {
                $('a.nav-link').click(function() {
                    $("#navbarTogglerDemo03").collapse('hide');
                    });
                });

            $(".sidebar ul li").on('click' , function(){
                $(".sidebar ul li.active").removeClass('active');
                $(this).addClass('active');
            });
    
                $('.open-btn').on('click' , function(){
                $('.sidebar').addClass('active');
                
            });
    
            $('.close-btn').on('click' , function(){
                $('.sidebar').removeClass('active');
                
            });
    
        </script>
        
        {% endblock %}
    </body>

</html>