
<!doctype html>

<html lang="es">

<head>

    <meta charset=»utf-8»>

    <title>Comprobantes De Pagos </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
   
    

</head>

    <body>
        
        {% extends 'base_main_2.html' %}
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        {% block content %}
        
        <div class="main-container d-flex">
            <!--  {% include 'categoria_2.html' %}  --> 
            {% include 'categoria_2.html' %}
            <div class="row justify-content-center">

              <div class="col-md-8 mt-5 border rounded p-4 shadow">
                   {% if agregado == 'existo' %}
                   <h4 class="text-danger">  {{Mensaje}}  </h4>
                   {% endif %}
                  <div class="bd-example m-0 border-0">
                      <form class="row g-3 needs-validation" method="post" >
                        {% csrf_token %}

                          
                          <div class="col-md-3">
                            <div class="card" >
                                <div class="card-header">
                                  <strong class="text-primary">Total Colaboradores <i class="bi bi-people-fill"></i> {{TOTAL_C}}</strong>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Administrativo <i class="bi bi-people-fill"></i> <strong> {{admin}}</strong></li>
                                  <li class="list-group-item">Produccion <i class="bi bi-people-fill"></i> <strong> {{produccion}}</strong></li>
                                  
                                </ul>
                              </div>
                          </div>
                          <div class="col-md-5">
                            <div class="card" >
                                <div class="card-header">
                                  <strong class="text-primary">Elija el Periodo correcto para previsualizar Planilla. <i class="bi bi-calendar-check-fill"></i> </strong>
                                </div>
                                <ul class="list-group list-group-flush">
                                  
                                  <li class="list-group-item">
                                    <div class="col-md-12">
                                      <label for="validationCustom04" class="form-label "><strong>Periodo Quincenal</strong></label>
                                      <select class="form-select" id="validationCustom04" name="quincena" required>
                                        <option selected disabled value="">Elija un Quincena a ver Planilla </option>
                                        <option value="Q1"><span><strong>Q1</strong> ( 1 - 15 )  días</span> </option>
                                        <option value="Q2"><span><strong>Q2</strong> (16 - Fin de mes )  días</span></option>
                                        

                                      </select>
                                    
                                  </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="col-md-12">
                                      <label for="validationCustom04" class="form-label "><strong>Periodo Mensual</strong></label>
                                      <select class="form-select" id="validationCustom04" name="mes" required>
                                        <option selected disabled value="">Elija un mes</option>
                                        <option value="1"><span>Enero</span> </option>
                                        <option value="2"><span>Febrero</span></option>
                                        <option value="3"><span>Marzo</span></option>
                                        <option value="4"><span><strong></strong>Abril</span></option>
                                        <option value="5"><span><strong></strong>Mayo</span></option>
                                        <option value="6"><span><strong></strong>Junio</span></option>
                                        <option value="7"><span><strong></strong>Julio</span></option>
                                        <option value="8"><span><strong></strong>Agosto</span></option>
                                        <option value="9"><span><strong></strong>Septiembre</span></option>
                                        <option value="10"><span><strong></strong>Octubre</span></option>
                                        <option value="11"><span><strong></strong>Noviembre</span></option>
                                        <option value="12"><span><strong></strong>Diciembre</span></option>
                                        

                                      </select>
                                    
                                  </div>
                                  </li>
                                  <li class="list-group-item">
                                    
                                    <div class="col-md-12">
                                      <label for="validationCustom04" class="form-label "><strong>Periodo Anual</strong></label>
                                      <select class="form-select" id="validationCustom04" name="year" required>
                                        <option selected disabled value="">Elija un año</option>
                                        <option value="2020"><span>2020</span> </option>
                                        <option value="2021"><span>2021</span></option>
                                        <option value="2022"><span>2022</span></option>
                                        <option value="2023"><span>2023</span></option>
                                        <option value="2024"><span>2024</span></option>
                                        <option value="2025"><span>2025</span></option>
                                        <option value="2026"><span>2026</span></option>
                                        <option value="2027"><span>2027</span></option>
                                        <option value="2028"><span>2028</span></option>
                                        <option value="2029"><span>2029</span></option>
                                        <option value="2030"><span>2030</span></option>
                                        
                                        

                                      </select>
                                    
                                  </div>
                                  </li>
                                  
                                </ul>
                              </div>
                          </div>
                        
                          <div class="col-md-4">
                            <div class="card" >
                                <div class="card-header">
                                  <strong class="text-primary">Comprobantes De Pagos </strong>
                                </div>
                                <ul class="list-group list-group-flush">
                                  
                                  <li class="list-group-item"><button class="btn btn-success" type="submit"><i class="bi bi-play-circle-fill"></i>  Generar Comprobantes De Pagos</button></li>
                                  
                                  
                                </ul>
                              </div>
                          </div>
                          {% if request == 'POST' %}
                            <div class="col-md-12">
                                <div class="card" >
                                    <div class="card-header">
                                        <a  class="link-dark text-decoration-none text-success" title="FILE_XLSX" href="{{ MEDIA_URL }}{{ name_1 }}" download>
                                            <img src="{% static 'logo_excel.png' %}" alt="" class="logo_txt" style="width:60px ;"/>
                                            <span class="fw-bold fs-6 d-inline-flex p-1 mt-1"> Descargar Comprobante</span>
                                        </a>
                                     </div>
                                    
                                    </ul>
                                </div>
                          </div>
                           
                        {% endif %}

                        {% if request == 'GET' %}
                          <div class="col-md-12">
                            <div class="form-check">
                                <span><strong>Colaboradores Activo</strong></span>
                                <div class="table-responsive mt-4 shadow">
                                    <table  id="miTabla" class="table table-bordered table-striped table-hover text-center display">
                                        <thead>
                                            <tr>
                                                <th class="table-dark ">#</th>
                                                <th class="table-dark">Identificacion</th>
                                                <th class="table-dark">Nombre</th>
                                                <th class="table-dark">Apellido</th>
                                                <th class="table-dark">Cargo</th>
                                                <th class="table-dark">Departamento</th>
                                                <th class="table-dark">Supervisor</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for clientes in lista_cliente %}
                                                <tr>
                                                    <td> 
                                                        <div class="form-check" >
                                                            <input class="form-check-input" type="radio" name="colaborador" value="{{ clientes.0 }}" id="flexCheckDefault" >
                                                            
                                                          </div>
                                                              
                                                    </td>
                                                    <td>{{ clientes.1 }}</td>
                                                    <td>{{ clientes.2 }}</td>
                                                    <td>{{ clientes.3 }}</td>
                                                    <td>{{ clientes.4 }}</td>
                                                    <td>{{ clientes.5 }}</td>
                                                    <td>{{ clientes.6 }}</td>
                                                    
                                                    
                                                    
                                                </tr>
                                            {% endfor %}
                                            
                                            <!-- Agrega más filas según sea necesario -->
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                              

                          </div>
                        {% endif %}
                          
                              
                          
                          <div class="col-12">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" disabled >
                              <label class="form-check-label" for="invalidCheck">
                                  Inicie motor y asistencia de planilla automatizada para sus Colaboradores.
                              </label>
                            
                            </div>
                          </div>
                        
                      </form>
                  </div>

              </div>
          </div> 

    
            
            

        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                // Inicializar DataTables después de cargar los datos
                $('#miTabla').DataTable();
            });

            $(document).ready(function () {
                // Inicializar DataTables después de cargar los datos
                $('#miTabla_2').DataTable();
            });


            $("#navbarTogglerDemo03").on('show.bs.collapse', function() {
                $('a.nav-link').click(function() {
                    $("#navbarTogglerDemo03").collapse('hide');
                    });
                });

            $(".sidebar ul li").on('click' , function(){
                $(".sidebar ul li.active").removeClass('active');
                $(this).addClass('active');
            });
    
                $('.open-btn').on('click' , function(){
                $('.sidebar').addClass('active');
                
            });
    
            $('.close-btn').on('click' , function(){
                $('.sidebar').removeClass('active');
                
            });
    
        </script>
        
        {% endblock %}
    </body>

</html>