
<!doctype html>

<html lang="es">

<head>

    <meta charset=»utf-8»>

    <title>Ver Planificacion de Jornadas </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
   
    

</head>

    <body>
        
        {% extends 'base_main_2.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        {% block content %}
        
        <div class="container-fluid">
            <!--  {% include 'categoria_2.html' %}  --> 
            {% include 'categoria_2.html' %}
            <div class="row justify-content-center">

              <div class="col-md-8 mt-5 border rounded p-4 shadow">
                   {% if agregado == 'existo' %}
                   <h4 class="text-danger">  {{Mensaje}}  </h4>
                   {% endif %}
                  <div class="bd-example m-0 border-0">
                     

                      
                        

                        <div class="col-md-12">
                            <div class="form-check">
                                <span><strong>Previsualize Planificacion de Horario de los Trabajadores en los Colaboradores.</strong></span>
                                <div class="table-responsive mt-4 shadow">
                                    <table  id="miTabla" class="table table-bordered table-striped table-hover text-center display">
                                        <thead>
                                            <tr>

                                               
                                                <th class="table-dark">#</th>
                                                <th class="table-dark">Identificación</th>
                                                <th class="table-dark">Colaborador</th>
                                                <th class="table-dark">Cargo</th>
                                                <th class="table-dark">Dpto.</th>
                                                <th class="table-dark">Rango Fechas</th>
                                                <th class="table-dark">Lunes</th>
                                                <th class="table-dark">Martes</th>
                                                <th class="table-dark">Miercoles.</th>
                                                <th class="table-dark">Jueves</th>
                                                <th class="table-dark">Viernes</th>
                                                <th class="table-dark">Sabado</th>
                                                <th class="table-dark">Domingo</th>
                                                
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for clientes in lista_cliente %}
                                                <tr>
                                                    <td class="small">{{ clientes.pk }}</td>
                                                    <td class="small">{{ clientes.Colaborador.Nro_Identificacion }}</td>
                                                    <td class="small"><img src="{{ MEDIA_URL }}{{  clientes.Colaborador.imagen }}" alt="mdo" width="32" height="32" class="rounded-circle mb-2">  {{  clientes.Colaborador.Colaborador_nombre }}  {{  clientes.Colaborador.Colaborador_apellido }}</td>
                                                    <td class="small">{{  clientes.Colaborador.Cargo }}</td>
                                                    <td class="small">{{  clientes.Colaborador.Departamento }}</td>
                                                    <td class="small-text-manual">
                                                        <button type="button" class="btn btn-secondary size-font-sm small-text-manual">{{  clientes.Dia_Inicio_Planificacion }} </button>
                                                        <br>
                                                        <button  type="button" class=" btn btn-secondary size-font-sm small-text-manual">{{  clientes.Dia_Salidad_Planificacion }} </button>

                                                    </td>


                                                    <td>
                                                        
                                                        <span class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="text-success small-text-manual"><i class="bi bi-hourglass-bottom"></i><br> {{ clientes.Hr_Laboradas_Lunes }} Hrs. <br> {{ clientes.Entrada_Lunes }} - {{ clientes.Salida_Lunes }} </span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark form-check">
                                                                
                                                               
                                                                {% if  clientes.Almuerzo_bool_Lunes   %}
                                                                <li>Almuerzo: Si - {{ clientes.Inicio_Hora_Almuerzo_Lunes }} </li>
                                                                {% else %}
                                                                <li>Almuerzo: No  </li>
                                                                {% endif %} 
                                                                {% if  clientes.Jornada_Nocturna_bool_Lunes   %}
                                                                <li>Jornada Nocturna: Si</li>
                                                                {% else %}
                                                                <li>Jornada Nocturna: No  </li>
                                                                {% endif %} 
                                                                
                                                               
                                                            </ul>
                                                        </span>
                                                    </td>

                                                    <td>
                                                        
                                                        <span class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="text-success small-text-manual"><i class="bi bi-hourglass-bottom"></i><br> {{ clientes.Hr_Laboradas_Martes }} Hrs. <br> {{ clientes.Entrada_Martes }} - {{ clientes.Salida_Martes }} </span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark form-check">
                                                                
                                                               
                                                                {% if  clientes.Almuerzo_bool_Martes   %}
                                                                <li>Almuerzo: Si - {{ clientes.Inicio_Hora_Almuerzo_Martes }} </li>
                                                                {% else %}
                                                                <li>Almuerzo: No  </li>
                                                                {% endif %} 
                                                                {% if  clientes.Jornada_Nocturna_bool_Martes   %}
                                                                <li>Jornada Nocturna: Si</li>
                                                                {% else %}
                                                                <li>Jornada Nocturna: No  </li>
                                                                {% endif %} 
                                                                
                                                               
                                                            </ul>
                                                        </span>
                                                    </td>

                                                    <td>
                                                        
                                                        <span class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="text-success small-text-manual"><i class="bi bi-hourglass-bottom"></i><br> {{ clientes.Hr_Laboradas_Miercoles }} Hrs. <br> {{ clientes.Entrada_Miercoles }} - {{ clientes.Salida_Miercoles }} </span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark form-check">
                                                                
                                                               
                                                                {% if  clientes.Almuerzo_bool_Miercoles   %}
                                                                <li>Almuerzo: Si - {{ clientes.Inicio_Hora_Almuerzo_Miercoles }} </li>
                                                                {% else %}
                                                                <li>Almuerzo: No  </li>
                                                                {% endif %} 
                                                                {% if  clientes.Jornada_Nocturna_bool_Miercoles   %}
                                                                <li>Jornada Nocturna: Si</li>
                                                                {% else %}
                                                                <li>Jornada Nocturna: No  </li>
                                                                {% endif %} 
                                                                
                                                               
                                                            </ul>
                                                        </span>
                                                    </td>

                                                    <td>
                                                        
                                                        <span class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="text-success small-text-manual"><i class="bi bi-hourglass-bottom"></i><br> {{ clientes.Hr_Laboradas_Jueves }} Hrs. <br> {{ clientes.Entrada_Jueves }} - {{ clientes.Salida_Jueves }} </span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark form-check">
                                                                
                                                               
                                                                {% if  clientes.Almuerzo_bool_Jueves   %}
                                                                <li>Almuerzo: Si - {{ clientes.Inicio_Hora_Almuerzo_Jueves }} </li>
                                                                {% else %}
                                                                <li>Almuerzo: No  </li>
                                                                {% endif %} 
                                                                {% if  clientes.Jornada_Nocturna_bool_Jueves   %}
                                                                <li>Jornada Nocturna: Si</li>
                                                                {% else %}
                                                                <li>Jornada Nocturna: No  </li>
                                                                {% endif %} 
                                                                
                                                               
                                                            </ul>
                                                        </span>
                                                    </td>

                                                    <td>
                                                        
                                                        <span class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="text-success small-text-manual"><i class="bi bi-hourglass-bottom"></i><br> {{ clientes.Hr_Laboradas_Viernes }} Hrs. <br> {{ clientes.Entrada_Viernes }} - {{ clientes.Salida_Viernes }} </span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark form-check">
                                                                
                                                               
                                                                {% if  clientes.Almuerzo_bool_Viernes   %}
                                                                <li>Almuerzo: Si - {{ clientes.Inicio_Hora_Almuerzo_Viernes }} </li>
                                                                {% else %}
                                                                <li>Almuerzo: No  </li>
                                                                {% endif %} 
                                                                {% if  clientes.Jornada_Nocturna_bool_Viernes   %}
                                                                <li>Jornada Nocturna: Si</li>
                                                                {% else %}
                                                                <li>Jornada Nocturna: No  </li>
                                                                {% endif %} 
                                                                
                                                               
                                                            </ul>
                                                        </span>
                                                    </td>

                                                    <td>
                                                        
                                                        <span class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="text-success small-text-manual"><i class="bi bi-hourglass-bottom"></i><br> {{ clientes.Hr_Laboradas_Sabado }} Hrs. <br> {{ clientes.Entrada_Sabado }} - {{ clientes.Salida_Sabado }} </span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark form-check">
                                                                
                                                               
                                                                {% if  clientes.Almuerzo_bool_Sabado   %}
                                                                <li>Almuerzo: Si - {{ clientes.Inicio_Hora_Almuerzo_Sabado }} </li>
                                                                {% else %}
                                                                <li>Almuerzo: No  </li>
                                                                {% endif %} 
                                                                {% if  clientes.Jornada_Nocturna_bool_Sabado   %}
                                                                <li>Jornada Nocturna: Si</li>
                                                                {% else %}
                                                                <li>Jornada Nocturna: No  </li>
                                                                {% endif %} 
                                                                
                                                               
                                                            </ul>
                                                        </span>
                                                    </td>

                                                   
                                                    <td>
                                                        
                                                        <span class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="text-success small-text-manual"><i class="bi bi-hourglass-bottom"></i><br> {{ clientes.Hr_Laboradas_Domingo }} Hrs. <br> {{ clientes.Entrada_Domingo }} - {{ clientes.Salida_Domingo }} </span>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-dark form-check">
                                                                
                                                               
                                                                {% if  clientes.Almuerzo_bool_Domingo   %}
                                                                <li>Almuerzo: Si - {{ clientes.Inicio_Hora_Almuerzo_Domingo }} </li>
                                                                {% else %}
                                                                <li>Almuerzo: No  </li>
                                                                {% endif %} 
                                                                {% if  clientes.Jornada_Nocturna_bool_Domingo   %}
                                                                <li>Jornada Nocturna: Si</li>
                                                                {% else %}
                                                                <li>Jornada Nocturna: No  </li>
                                                                {% endif %} 
                                                                
                                                               
                                                            </ul>
                                                        </span>
                                                    </td>



                                                    

                                                    
                                         
                                                </tr>
                                            {% endfor %}
                                            
                                            <!-- Agrega más filas según sea necesario -->
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                              

                          </div>
                        
                          
                          
                              
                          </div>
                        
                      
                  </div>

              </div>
          

    
            
            

        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                // Inicializar DataTables después de cargar los datos
                $('#miTabla').DataTable();
            });

            $(document).ready(function () {
                // Inicializar DataTables después de cargar los datos
                $('#miTabla_2').DataTable();
            });


            $("#navbarTogglerDemo03").on('show.bs.collapse', function() {
                $('a.nav-link').click(function() {
                    $("#navbarTogglerDemo03").collapse('hide');
                    });
                });

            $(".sidebar ul li").on('click' , function(){
                $(".sidebar ul li.active").removeClass('active');
                $(this).addClass('active');
            });
    
                $('.open-btn').on('click' , function(){
                $('.sidebar').addClass('active');
                
            });
    
            $('.close-btn').on('click' , function(){
                $('.sidebar').removeClass('active');
                
            });
    
        </script>
        
        {% endblock %}
    </body>

</html>